<!DOCTYPE html>
<html>
  <head>
    <title>grippenet.ch</title>
    <link rel="stylesheet" href="<%= stylesheet_path "application" %>">
  </head>
  <body>
    <div id="page">
      <div id="influenzabar">
        <p class="_toggle influenzanet">
          Influenzanet is a system to monitor the activity of influenza-like-illness (ILI) with the aid of volunteers via the internet
        </p>
      </div>
      <div id="header">
        <div id="headerlogo">
          <a href="/fr/" title="GrippeNet"><img src="<%= image_path 'grippenet_ch_logo.jpg' %>" alt="GrippeNet" /></a>
        </div>
      </div>
      <div id="links">
        <a href="http://fr.grippenet.ch/">Vous parlez français?</a>
        <a href="http://de.grippenet.ch/">Sprechen Sie Deutsch?</a>
        <a href="http://it.grippenet.ch/">Parli italiano?</a>
      </div>
      <div id="footer">
        <div id="footercontent-client">
          <br/>
        </div>
        <div id="footerclose">
          &copy; 2016 GrippeNet
        </div>
      </div>
    </div>
  </body>
</html>
